/*------fonts 
this all the fonts i have used to to create this contact form------*/

body {font-family:montserrat,Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
/*------contact form layout
this is the structure of the form it very simple and easy to use  this is important that user can acess with ease and not get put off by it.------*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/*------submit button
i chose this colour because i wanted the button to stand out. this is to ensure that user that have bad eyesight can see it.------*/

input[type=submit] {
  background: rgb(0, 140, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*------ hover submit button
i used a darker colour i wanted the button to stand out. this is to ensure that user that have bad eyesight can see it.------*/


input[type=submit]:hover {
background:rgb(16, 89, 247);
}
/*------Backgorund colour------*/

.container{
  border-radius: 5px;
  background-color: rgb(13, 191, 223);
  padding: 20px;
}
/*------Title------*/
h1{
font-family:montserrat;
 text-align: center;
 padding: 10px;
 background-color: rgba(17, 167, 194, 0.678);;
}
nav {
text-align: right;


}
cart{
  margin-top: left;
}